* {
    font-family: 'JetBrains Mono', 'Arial';
    margin: 0px;
    padding: 0px;
    color: white;
    border-style: none;
}

html {
    background-color: #333;
}

.rounded-outline {
    padding: 10px;
    border-style: solid;
    border-color: lime;
    border-radius: 10px;
}

.vlist {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hlist {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

a {
    color: #07f;
}

a:hover {
    color: #0ff;
}

ul {
    padding-left: 20px;
}

input {
    color: black;
}

button,
input {
    padding: 5px;
    border-radius: 10px;
    width: max-content;
}

button:hover,
input:focus {
    outline: 2px solid gold;
}